body {
    padding: 0;
    margin: 0;
    height: 3000px;
}

header {
    margin: 0;
    height: 70px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

a {
    color: #ffffff;
}


header #head1080 {
    height: 70px;
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #headLogo {
    width: 325px;
    font-family: Raleway, serif;
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

header h3 {
    margin: 0;
}

header span {
    font-size: 20px;
}

header #emptiness {
    width: 200px;
}

header #headMenu {
    width: 555px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a{
    color: white;
    height: 70px;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 35px;
    text-decoration: none;
}


header a:hover {
    color: rgb(215, 253, 255);
    letter-spacing: 2px;
}


body #pageOne {
    height: 1080px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(45deg, rgba(0,189,165,1) 0%, rgba(106,120,209,1) 100%);

}

body #pageOne1080 {
    margin-top: -300px;
    height: 1010px;
    width: 1080px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

body #pageOneText {
    height: 500px;
    width: 430px;
    border-radius: 0 50px 50px 50px;
    background-color: rgba(255,255,255,0);
    padding: 20px;
}

body #pageOneText h3 {
    font-family: "Raleway", serif;
    font-size: 30px;
    color: white;
    margin: 0;
    margin-bottom: 70px;
}

body #pageOneText p {
    font-family: "Raleway", serif;
    font-size: 18px;
    color: white;
    margin: 0;
}

body #pageOneImg {
    margin-top: -10%;
    height: 500px;
    width: 600px;
    background-image: url("../img/phone.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

body #emailButton {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

body #emailButton input {
    width: 300px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    border: none;
    font-family: "Montserrat", serif;
    font-size: 20px;
    padding: 5px;
}

body #emailButton button {
    width: 100px;
    height: 50px;
    border: none;
    padding: 0;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    border-left: 2px solid #27a4b5;
    outline: none;
}


body #emailButton button span {
    background: linear-gradient(45deg, rgba(0,189,165,1) 0%, rgba(106,120,209,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 900;
}
